<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:replace="~{admin/layout :: layout(${pageTitle}, ${breadcrumb}, ~{::section})}">

    <section>
        <div class="page-actions">
            <div>
                <h2>Список ресторанов</h2>
                <p>Управление ресторанами, которые отображаются в Android-приложении.</p>
            </div>

            <a class="primary-button" th:href="@{/admin/restaurants/create}">
                Добавить ресторан
            </a>
        </div>

        <div class="admin-card">
            <div class="table-wrapper">
                <table class="admin-table">
                    <thead>
                    <tr>
                        <th>Фото</th>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Кухня</th>
                        <th>Адрес</th>
                        <th>Рейтинг</th>
                        <th>Действия</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="restaurant : ${restaurants}">
                        <td>
                            <img class="table-image"
                                 th:src="@{${restaurant.imageUrl}}"
                                 alt="Фото">
                        </td>

                        <td th:text="${restaurant.id}"></td>
                        <td class="news-title" th:text="${restaurant.name}"></td>
                        <td th:text="${restaurant.cuisine}"></td>
                        <td th:text="${restaurant.address}"></td>
                        <td th:text="${restaurant.rating}"></td>

                        <td>
                            <div class="actions">
                                <a class="edit-button"
                                   th:href="@{/admin/restaurants/{id}/edit(id=${restaurant.id})}">
                                    Изменить
                                </a>

                                <a class="edit-button"
                                   th:href="@{/admin/restaurants/{id}/categories(id=${restaurant.id})}">
                                    Категории
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p th:if="${#lists.isEmpty(restaurants)}" class="empty-text">
                Ресторанов пока нет
            </p>
        </div>
    </section>

</div>
</body>
</html>